.center-buying-container {
  display: flex;
  justify-content: space-around;
}
.buying-messages-container {
  width: 900px;
  display: flex;
  justify-content: space-between;
}
.message-box-container {
  width: 400px;
  height: 500px;
}
