.center-buying-container {
  display: flex;
  justify-content: space-around;
}
.buying-messages-container {
  display: flex;
  justify-content: space-between;
}
.message-box-container {
  width: 400px;
}

.card {
  word-wrap: normal;
  background-color: $beige;
}
