.dashboard-page-container{
  width: 1200px;
  margin: 60px auto;
  padding: 40px;
  background-color: $dark-brown;
  opacity: 0.8;
  border-radius: 6px;
  color: $beige;
  box-shadow:  0 0 1em rgba(0, 0, 0, .2);
}

.user-dashboard-profile {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 20px;
}

.dashboard-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid $beige;
}

.dashboard-user-infos{
  width: 700px;
} h5 {
  padding: 10px 0;
}

.dashboard-card {
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
  border-top: 1px solid $beige;
}

.dashboard-card a {
  text-decoration: none;
  color: $beige;
} a:hover {
  color: $light-brown;
}

.dashboard-button a {
  background-color: $beige;
  font-weight: 700;
  height: 60px;
  width: 320px;
  color: $dark-brown;
  opacity: 0.7;
  padding: 7px;
  border: 3px solid $beige;
  border-radius: 4px;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    opacity: 1;
  }
}

.new-material-button a {
  font-weight: 700;
  font-size: 20px;
  height: 60px;
  width: 320px;
  padding: 10px 50px;
  margin-top: 10px;
  color: #EDE0D4;
  background-color: $light-brown;
  border: 3px solid #EDE0D4;
  border-radius: 4px;
  text-decoration: none;
    &:hover {
    background-color: $dark-brown;
    text-decoration: none;
  }
}

.dashboard-title {
  cursor: default;
}

.confirm_delete_button {
  background-color: $beige;
  font-weight: 700;
  height: 40px;
  width: 100px;
  color: $dark-brown;
  opacity: 0.7;
  padding: 7px;
  border: 3px solid $beige;
  border-radius: 4px;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    opacity: 1;
  }
}

.confirm-button {
  padding-right: 10px;
}

.title-arrow {
  display: flex;
  align-items: center;
  padding: 5px;
  i {
  padding: 5px;
}
}
