.dashboard-page-container{
  margin: 0 auto;
  width: 700px;
  align-items: center;
}

.user-dashboard-profile {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 20px;
}

.dashboard-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid $beige;
}

.dashboard-user-infos{
  display: flex;
  flex-direction: column;
  width: 300px;
  align-items: flex-start;
} p {
  padding-top: 10px;
}

.dashboard-card {
  display: flex;
  justify-content: space-between;
  border: 1px, solid, $dark-green;
  padding: 10px 50px;
}

.dashboard-card a {
  text-decoration: none;
  color: $dark-green;
} a:hover {
  color: $light-green;
}

.button a {
  color: $beige;
  opacity: 0.7;
  padding: 7px;
  border: 2px solid $beige;
  margin-top: 2px;
  // border-radius: 4px;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    opacity: 1;
  }
}

.dashboard-title {
  cursor: default;
}

.confirm_delete_button {
  background-color: $dark-green;
  color: $beige;
  opacity: 0.7;
  padding: 7px;
  border: 2px solid $beige;
  margin-top: 2px;
  // border-radius: 4px;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    opacity: 1;
  }
}

.confirm-button {
  padding-right: 10px;
}
