// Specific CSS for your home-page
body {
  // background-color: $light-green;
  margin: 0px;
}

.container-home {
  // display: flex;
  // justify-content: flex-end;
  background-color: $beige;
}

.full {
  background-image: asset-url('full.jpg');
  background-position:center;
  background-size: cover;
  height: 1500px;
  opacity: 0.9;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  align-items: center;
  // padding: 40px;
  // margin: 80px;
  // border-radius: 40px;
}

.infos {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 40px;
  background-color: $dark-brown;
  opacity: 0.8;
  border-radius: 6px;
  h2 {
    color: $beige;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
}

.recyclaid-about {
  padding: 20px 40px;
  background-color: $dark-brown;
  opacity: 0.8;
  width: 60%;
  p {
    color: $beige;
  }
  h2 {
    color: $beige;
  }
  h4 {
    color: $beige;
  }
}

.home-title {
  color: $beige;
}

// .button-home a {
//   background-color: $beige;
//   color: $dark-green;
//   opacity: 0.7;
//   padding: 7px;
//   border: 5px solid $dark-green;
//   margin-top: 2px;
//   border-radius: 4px;
//   text-decoration: none;
//   font-size: 20px;
//   &:hover {
//     text-decoration: none;
//     opacity: 1;
//   }
// }

#section04 a {
  padding-top: 60px;
}
#section04 a span {
  position: absolute;
  top: 80%;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 3px solid $beige;
  border-bottom: 3px solid $beige;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb04 2s infinite;
  animation: sdb04 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb04 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}
@keyframes sdb04 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    transform: rotate(-45deg) translate(0, 0);
  }
}
