.search-bar-container {
  margin: 10px;
  width: 700px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.searchbar {
  width: 100%;
  margin-left: 8px;
  border-radius: 4px;
  border: gray solid 1px;
}

.card-index-images {
  min-height: 18rem;
}
#map {
  margin-top: 30px;
  margin-right: 0px;
  position: sticky;
  top: 0;
}
