.search-bar-container {
  margin: 10px;
  width: 700px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.index-page {
  display: flex;
  // justify-content: space-around;
}

#map {
  margin-top: 30px;
  margin-right: 0px;
  position: sticky;
  top: 0;
}
