.search-bar-container {
  margin: 10px;
  padding: 20px 0;
}

.searchbar {
  width: 100%;
  margin-left: 8px;
  border-radius: 4px;
  border: gray solid 1px;
}

#map {
  margin-top: 30px;
  margin-right: 0px;
  position: sticky;
  top: 0;
}

@media (min-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .material-img{
    width: 350px;
  }
}

@media (max-width: 540px) {
  .material-img{
    width: 150px;
  }
}
