ul {
  list-style-type: none;
}

.material-container {
  width: 83%;         //changed the fixed height from 1200px to 83% to make it responsive//
  margin: 60px auto;
  padding: 40px;
  background-color: $dark-green;
  opacity: 0.8;
  border-radius: 6px;
  color: $beige;
  box-shadow:  0 0 1em rgba(0, 0, 0, .2);
}

.button a{
  text-decoration: none;
  background-color: $dark-green;
}


.head-show-page {
  align-items: center;
}

.info-without-title {
  display: flex;
  justify-content: space-between;
}

.material-info {
  width: 60%;
  margin-right: 20px;
}

.material-buying-request {
  width: 40%;
  margin-left: 20px;
}

.interactions {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

ul {
  padding: 0;
}

.practical-info {
  width: 600px;
  display: flex;
  justify-content: space-between;
  p {
    margin: 0;
  }
}

.correct-spacing {
  margin-top: 70px;
  margin-bottom: 10px;
  padding-top: 10px;
  display: flex;
  // justify-content: space-between;
  align-items: center;
  p {
    margin: 0;
  }
}

.profile_link {
  padding: 10px;
  a {
    color: $beige;
    text-decoration: none;
    &:hover {
      color: white;
    }
  }
}

//media queries//

@media (max-width: 950px) {

}
