ul {
  list-style-type: none;
}

.material-container{
  margin: 0 auto;
  width: 700px;
  align-items: center;

}

.material-img{
  background-size: cover;
  height: 250px;
  width: 350px;
  object-fit: cover;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  // border-radius: 4px;
}
