.general-container {
  display: flex;
  width: 1200px;
  margin: 20px auto;
  padding: 40px;
  background-color: $dark-brown;
  opacity: 0.8;
  border-radius: 6px;
  color: $beige;
  box-shadow:  0 0 1em rgba(0, 0, 0, .2);
}

.info-container {
  width: 40%;
  height: 100%;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  h1, h5, .review {
    padding: 10px;
  }
}

.review {
  display: flex;
  flex-direction: column;
}

.itemsforsale {
  padding: 20px;
  h3, hr {
    color: $beige;
  }
  a {
    text-decoration: none;
    color: $dark-brown;
  }
}

.card-container {
  display: flex;
  box-shadow:  0 0 1em rgba(0, 0, 0, .2);
  margin-bottom: 15px;
  background-color:#EDE0D4;
  border-radius: 4px;
  h3{
    color: $dark-brown;
    padding-left: 5px;
  }
}

.profilepicture {
  padding: 10px;
}

.user-profile-avatar {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid $beige;
}


.user-material-cards {
  display: flex;
  flex-direction: column;
  color: $dark-brown;
}

.review-show {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.review {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.fa-star {
  // display: flex;
  color: #EDB867;
  padding: 2px;
}

.stars-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-show {
  display: flex;
}
