.general-container {
  display: flex;
  padding-top: 80px;
}

.info-container {
  width: 35%;
  height: 500px;
  padding-top: 20px;
  text-align: center;
  // background-color: aquamarine;
}

.itemsforsale {
  padding-top: 40px;
}

.imgprofile {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid $beige;
}

.profilecontent {
  display: flex;
  flex-direction: column;
}
