<div class="container-home">
  <div class="full">
    <div class="infos">
      <h2>Don't be trashy, reuse materials!</h2>
      <div class="btn_home">
        <%= link_to 'Find materials', materials_path %>
      </div>
    </div>
    <section id="section04" class="demo">
    <a href="#section04"><span></span></a>
    </section>
    <div class="infos">
      <h2>Do you have some materials left over yourself?<br>Don't hesitate to offer them!</h2>
      <div class="btn_home">
        <%= link_to 'Share my materials', new_material_path %>
      </div>
    </div>
  </div>
</div>
