<div class="container-home">
  <%# <div class="top">
  </div> %>
  <div class="full">
    <div class="infos">
      <h2>Don't be trashy, reuse building materials!</h2>
      <%= link_to 'find materials', materials_path %>
    </div>
    <div class="infos">
      <h2>Do you have some materials left over yourself? Don't hesitate to offer them!</h2>
      <%= link_to 'share my materials', new_material_path %>
    </div>
  </div>
</div>
