<div class="container-home">
  <%# <div class="top">
  </div> %>
  <div class="full">
    <div class="infos button-home">
      <h2>Don't be trashy, reuse materials!</h2>
      <%= link_to 'Find materials', materials_path %>
    </div>
    <section id="section04" class="demo">
    <%# <h1>Scroll Down Button #4</h1> %>
    <a href="#section04"><span></span></a>
    </section>
    <div class="infos button-home">
      <h2>Do you have some materials left over yourself? Don't hesitate to offer them!</h2>
      <%= link_to 'Share my materials', new_material_path %>
    </div>
  </div>
</div>
