<div>
  <% if @buying.material.photos.attached? %>
    <% @buying.material.photos.each do |photo| %>
      <div class='material-img' style="background-image: url('<%= cl_image_path photo.key %>')"></div>
    <% end %>
  <% end %>
</div>
<div>
  <p>Product name : <%= @buying.material.name %></p>
  <p>Your message : <%= @buying.message %></p>
  <p>Buying request status : <%= @buying.status %></p>
</div>
