.alert {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1000;
  color: $dark-brown;
  background-color: $beige;
  opacity: 0.6;
}

.close {
  color: $dark-brown;
  background-color: $beige;
}
