.button a {
  color: $beige;
  opacity: 0.7;
  padding: 7px;
  border: 2px solid $beige;
  margin-top: 2px;
  border-radius: 4px;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    opacity: 1;
  }
}

::-webkit-file-upload-button {
  height: 40px;
  width: 50%;
  color: $beige;
  background-color: $dark-green;
  border: 2px solid $beige;
  border-radius: 4px;
  margin-right: 10px;
}

.interested {
  display: flex;
  justify-content: center;
}

.btn_interest {
  font-weight: 700;
  font-size: 20px;
  height: 60px;
  width: 320px;
  color: $beige;
  background-color: #5A6347;
  border: 3px solid $beige;
  border-radius: 4px;
  &:hover {
    background-color: $dark-green;
  }
}

.btn_home a {
  margin: 10px;
  padding: 15px;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  height: 60px;
  color: $beige;
  background-color: #66442E;
  border: 3px solid $beige;
  border-radius: 4px;
  &:hover {
    color: $beige;
    background-color: $dark-brown;
    text-decoration: none;
    opacity: 1;
  }
}
