.button a {
  color: $beige;
  opacity: 0.7;
  padding: 7px;
  border: 2px solid $beige;
  margin-top: 2px;
  border-radius: 4px;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    opacity: 1;
  }
}

::-webkit-file-upload-button {
  height: 40px;
  width: 50%;
  color: $beige;
  background-color: $dark-green;
  border: 2px solid $beige;
  border-radius: 4px;
  margin-right: 10px;
}
