#carouselMaterialShow {
  width: 40vw;
}

.carousel-inner {
  height: 50vh;
  width: 40vw;
}

.carousel-img {
  object-fit: cover;
  background-size: cover;
  object-position: center;
  width: 40vw;
  height: 45vh;
}
