<h1>all available materials</h1>
<div class="cards-container-index">
  <% @materials.each do |material| %>
    <h3><%= material.name %></h3>
    <p><%= material.description %></p>
    <p>address: <%= material.location %></p>
    <p>price: <%= material.price %></p>
  <% end %>
</div>
